:root {
    --cream: #fffcf0;
    --gold: #d8ab5b;
}

html {
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-size: 2.15rem;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
    color:var(--gold);
    background-color: var(--cream);
    margin-left: 200px;
    margin-right: 200px;
    }

    .dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
    text-align: center;
     
        
}

nav li {
    display:inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: var(--gold);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    text-decoration: none;

}

nav a:hover,
nav a:active {
    color: var(--gold);
    text-decoration: underline;
}

h1, h2 {
    text-align: right;
}

h2 {
    margin-left: 700px;
    font-size: 25px;
}


footer {
    font-size: small;
    text-align:center;
    line-height: normal;
}