:root {
    --cream: #fffcf0;
    --gold: #ce9c46;
    --offwhite: #fffdf7;
    --title: "DM Serif Text", serif;
    --body: "Lato", sans-serif;
}

html {
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-size: 2.15rem;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
    color:var(--gold);
    background-color: var(--cream);
    margin-left: 100px;
    margin-right: 100px
    }

    .dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}



nav {
    font-family: "DM Serif Text", serif;
    text-align: center;       
}

.navbox {
  justify-content: center;
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--cream);
  
}

nav li {
    display:inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: var(--gold);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    font-family: "DM Serif Text", serif;
    text-decoration: none;

}

nav a:hover,
nav a:active {
    color: var(--gold);
    text-decoration: underline;
}

.line {
  width: 1500px;
  height:1px;
  background-color: var(--gold);
  display: flex;
  margin-left:0px;
  justify-content: center;
  
}

body {
    margin-left: 80px;
    margin-right: 80px;
}

h1, h2, h3 {
    text-align: left;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400; 
}

.contactbox {
        animation-duration: 1s;
        animation-name: fade-in;
        animation-timing-function: ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}


label, .subject {
    display: flex;
}

input {
    border: 1px solid var(--gold);
    background-color: var(--offwhite);
    height: 50px;
    width: 700px;
    max-height: 50px;
    margin-bottom: 40px;
}

.name, .phone, .email, .subject {
    border: 1px solid var(--gold);
    background-color: var(--offwhite);
    height: 50px;
    width: 700px;
    max-height: 50px;
    margin-bottom: 40px;
}

/*trying to make comment wider than the others but they only respond to input */
.comment {
    border: 1px solid var(--gold);
    background-color: var(--offwhite);
    height: 50px;
    width: 700px;
    max-height: 50px;
    margin-bottom: 40px;

}

.submit {
    border-width: 1px;
    padding: 15px 30px 20px;
    font-size: 30px;
    font-family: "DM Serif Text", serif;
    text-transform: capitalize;
    line-height: 18px;
    color: var(--gold);
    border-color: var(--gold);
    background-color: var(--cream);
    max-width:200px;
}


.submit:hover {
    color: var(--cream);
    background-color: var(--gold);
}

footer {
    font-size: small;
    text-align:center;
    line-height: normal;
}

footer a:visited,
footer a:link {
    color: var(--gold)
}