:root {
    --cream: #fffcf0;
    --gold: #d8ab5b;
    --title: "DM Serif Text", serif;
    --body: "Lato", sans-serif;
}

html {
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-size: 2.15rem;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
    color:var(--gold);
    background-color: var(--cream);
    }

    .dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}



nav {
    font-family: "DM Serif Text", serif;
    text-align: center;       
}

.navbox {
  justify-content: center;
  display: flex;
  position: relative;
  background-color: var(--cream);
  
}

nav li {
    display:inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: var(--gold);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    font-family: "DM Serif Text", serif;
    text-decoration: none;

}

nav a:hover,
nav a:active {
    color: var(--gold);
    text-decoration: underline;
}

.line {
  width: 1500px;
  height:1px;
  background-color: var(--gold);
  display: flex;
  margin-left:0px;
  justify-content: center;
  
}

/*I don't want to deal with this right now
img {
  justify-content: center;
  display:flex;
}
  */

h1, h2, h3 {
    text-align: center;
    
}

p {
  font-family: var(--body);
}

.carousel {
  margin-left: 400px;
  margin-right: 400px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

img {
  padding: 5px 20px 40px;
}

.morework, 
.morework a:visited {
    font-family: "DM Serif Text", serif;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 40px 20px;
    border: 1px solid var(--gold);
    background-color: var(--cream);
    color: var(--gold);
    text-decoration: none;
}

 .morework a:link {
    text-decoration: none;
}

/*make bg color fit box */
.morework a:hover {
    color: var(--cream);
    background-color: var(--gold);
    
}


footer {
    font-size: small;
    text-align:center;
    line-height: normal;
    padding: 40px 0px 0px;
}

footer a:visited,
footer a:link {
    color: var(--gold)
}


/* come back when you learn java script
.carousel {
     max-width: 500px;
  position: relative;
  margin: auto;
}

.slides {
    
}

.prev, .next {
    cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
*/
