:root {
    --cream: #fffcf0;
    --gold: #ce9c46;
    --title: "DM Serif Text", serif;
    --body: "Lato", sans-serif;
}

/*the color palette was based on my personal logo but it wouldn't cooperate so consider it vestigial.
also this site is NOT optimised for mobile in the slightest. It looks best at a minimum screen width of 1030px*/

html {
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-size: 2.15rem;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
    color:var(--gold);
    background-color: var(--cream);
    }

    .dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}



nav {
    font-family: "DM Serif Text", serif;
    text-align: center;       
}

.navbox {
  justify-content: center;
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--cream);
  
}

nav li {
    display:inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: var(--gold);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    font-family: "DM Serif Text", serif;
    text-decoration: none;

}

nav a:hover,
nav a:active {
    color: var(--gold);
    text-decoration: underline;
}

.line {
  width: 1500px;
  height:1px;
  background-color: var(--gold);
  display: flex;
  margin-left:0px;
  justify-content: center;
  
}

/*I don't want to deal with this right now (this is the logo)
img {
  justify-content: center;
  display:flex;
}
  */

h1, h2, h3 {
    text-align: center;
    
}

p {
  font-family: var(--body);
  font-size: 16px;
  text-align:center;
}

/*fun fact! if you scroll fast enough while the fade in animation plays, the nav bar goes transparent. it's like this on every page! idk why this happens!*/

.carousel {
  margin-left: 300px;
  margin-right: 300px;
  animation-duration: 1s;
  animation-name: fade-in;
  animation-timing-function: ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


.morework, 
.morework a:visited {
    font-family: "DM Serif Text", serif;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 40px 20px;
    border: 1px solid var(--gold);
    background-color: var(--cream);
    color: var(--gold);
    text-decoration: none;
}

 .morework a:link {
    text-decoration: none;
}

/*text color doesn't show? */
.morework:hover {
    background-color: var(--gold);
}

.morework:hover a{
  color: var(--cream);
}



footer {
    font-size: small;
    text-align:center;
    line-height: normal;
    padding: 40px 0px 0px;
}

footer a:visited,
footer a:link {
    color: var(--gold)
}

.top,
.top a:visited {
    width: 100px;
    height: 100px;
    border: 2px solid var(--gold);
    border-radius: 50%;
    background-color: var(--cream);
    font-family: "Lato", sans-serif;
    font-weight:300;
    font-size: 110px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}


.top a:link {
     text-decoration: none;
}


/*text color doesn't show still */
.top:hover {
    background-color: var(--gold);
}

.top:hover a {
  color: var(--cream);
}




/* come back when you learn java script
.carousel {
     max-width: 500px;
  position: relative;
  margin: auto;
}

.slides {
    
}

.prev, .next {
    cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
*/
