:root {
    --cream: #fffcf0;
    --gold: #d8ab5b;
}

html {
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-size: 2.15rem;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
    color:var(--gold);
    background-color: var(--cream);
    }

    .dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

nav {
    text-align: center;
     
        
}

nav li {
    display:inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: var(--gold);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    text-decoration: none;

}

nav a:hover,
nav a:active {
    color: var(--gold);
    text-decoration: underline;
}

h1, h2, h3 {
    text-align: center;
}

.morework, 
.morework a:visited {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 40px 20px;
    margin-left: 800px;
    margin-right: 800px;
    border: 1px solid var(--gold);
    color: var(--gold);
    text-decoration: none;
    
}

 .morework a:link {
    text-decoration: none;
}

.morework a:hover {
    color: var(--cream);
    background-color: var(--gold);
    
}


footer {
    font-size: small;
    text-align:center;
    line-height: normal;
}


/* come back when you learn java script
.carousel {
     max-width: 500px;
  position: relative;
  margin: auto;
}

.slides {
    
}

.prev, .next {
    cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
*/
