html {
    box-sizing: border-box;
    font-family: "Dongle", sans-serif;
    font-size: 2.15rem;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
    color:rgb(122, 60, 19)
    }

nav {
        background-color:antiquewhite;
        text-align: center;
}

nav li {
    display:inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: rgb(214, 182, 111);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    text-decoration: none;

}

nav a:hover,
nav a:active {
    background-color:antiquewhite;
    color: rgb(214, 182, 111);
    text-decoration: underline;
}