:root {
    --cream: #fffcf0;
    --gold: #d8ab5b;
}

html {
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-size: 2.15rem;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
    color:var(--gold);
    background-color: var(--cream);
    }

    .dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

nav {
    text-align: center;
     
        
}

nav li {
    display:inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: var(--gold);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    text-decoration: none;

}

nav a:hover,
nav a:active {
    color: var(--gold);
    text-decoration: underline;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
  font-size: 100px;
}

.gallery {
  margin-left: 400px;
  margin-right: 400px;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

footer {
    font-size: small;
    text-align:center;
    line-height: normal;
}