:root {
    --cream: #fffcf0;
    --gold: #ce9c46;
    --title: "DM Serif Text", serif;
    --body: "Lato", sans-serif;
}

html {
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-size: 2.15rem;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
    color:var(--gold);
    background-color: var(--cream);
    }

    .dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}



nav {
    font-family: "DM Serif Text", serif;
    text-align: center;       
}

.navbox {
  justify-content: center;
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--cream);
  
}

nav li {
    display:inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: var(--gold);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    font-family: "DM Serif Text", serif;
    text-decoration: none;

}

nav a:hover,
nav a:active {
    color: var(--gold);
    text-decoration: underline;
}

.line {
  width: 1500px;
  height:1px;
  background-color: var(--gold);
  display: flex;
  margin-left:0px;
  justify-content: center;
  
}

h1, h2, h3 {
    text-align: center;
}


.gallery {
  margin-left: 100px;
  margin-right: 100px;
  animation-duration: 1s;
  animation-name: fade-in;
  animation-timing-function: ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 50%;
  padding: 5px 5px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.top,
.top a:visited {
    width: 100px;
    height: 100px;
    border: 2px solid var(--gold);
    border-radius: 50%;
    background-color: var(--cream);
    font-family: "Lato", sans-serif;
    font-weight:300;
    font-size: 110px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}



.top a:link {
     text-decoration: none;
}


/*text color doesn't show still */
.top:hover {
    background-color: var(--gold);
}

.top:hover a {
  color: var(--cream);
}


p {
  font-family: var(--body);
}

footer {
    font-size: small;
    text-align:center;
    line-height: normal;
}

footer a:visited,
footer a:link {
    color: var(--gold)
}