html {
    box-sizing: border-box;
    font-family: "Dongle", sans-serif;
    font-size: 2.15rem;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
    color:rgb(122, 60, 19);
    }

nav {
        background-color:antiquewhite;
        text-align: center;
}

nav li {
    display:inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: rgb(214, 182, 111);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    text-decoration: none;

}

nav a:hover,
nav a:active {
    background-color:antiquewhite;
    color: rgb(214, 182, 111);
    text-decoration: underline;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}